* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  background: hsla(336, 13%, 92%, 1);

  background: linear-gradient(
    90deg,
    hsla(336, 13%, 92%, 1) 50%,
    hsla(208, 83%, 95%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(336, 13%, 92%, 1) 50%,
    hsla(208, 83%, 95%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(336, 13%, 92%, 1) 50%,
    hsla(208, 83%, 95%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEE9EB", endColorstr="#EAF4FD", GradientType=1 );
}
ul {
  list-style: none;
}
