.btn {
  background: none;
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.4rem;
  color: var(--color-primary);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button.btn:not(:disabled):hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  color: var(--color-accent);
  background: var(--color-secondary);
}
.btn i {
  font-size: 1.6rem;
  font-weight: 600;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}
/* #botoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  margin-top: 2rem;
}

button#js-btn-generator-color {
  border-radius: 8px;
  padding: 12px 24px;
  text-transform: capitalize;
}
button#js-btn-new-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button#js-btn-new-card:hover {
  transform: rotate(90deg);
}

button.btn {
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #6a11cb;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}


  */

button:focus {
  outline: 2px solid var(--color-secondary);
  outline-offset: 2px;
}
button#js-btn-new-card {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform-origin: center;
}
button#js-btn-new-card:hover {
  transform: rotate(90deg);
}
