.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__contents {
  margin: 10% auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: min(90%,350px);
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--color-white);
  animation: show 0.3s ease;
}

.modal__header {
  border-bottom: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
.modal__header h2 {
  font-weight: 500;
}

.close {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -20px;
}
.close:hover {
  color: red;
}

.modal__settings {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.modal__checkboxes {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 0.8rem;

  flex-direction: column;
}

.modal__checkboxes label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.campo {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.campo select {
  border: none;
  width: 9rem;
  padding: 1rem;
  border-radius: 2px;
  cursor: pointer;
  background: var(--color-secondary);
}
input[type='checkbox']:checked {
  accent-color: var(--color-accent);
}

body.dark .modal__contents {
  color: var(--color-black);
}
