/* .profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.avatar {
  text-align: right;
  border: 2px solid var(--color-primary);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
} */
