.cards {
  padding: 0.5rem;
  overflow: auto;
  height: 400px;
  display: grid;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 2rem;
}
.cards .card {
  display: grid;
  grid-template-rows: 70% 30%;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.card:focus,
.card:hover {
  transform: scale(1.03);
  outline: 2px solid #555;
  outline-offset: 4px;
}
.cards .card:active {
  transform: scale(0.95);
}
.cards .card header.color-box {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
}
.cards .card span.text {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
  color: #444;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .cards {
    padding-bottom: 3rem;
  }
}
