.copied-message {
  border-radius: 1.6rem;
  bottom: 10px;
  padding: 4px 8px;
  background: #2a2929;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  z-index: 11;
  animation: fadeOut 3s ease forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "toolbar";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  height: 100dvh;
}
.shadow {
  box-shadow: var(--shadow);
}

header.header {
  grid-area: header;
  border-bottom: 1px solid var(--color-border);
  padding: 0.8rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.header h1 {
  font-size: clamp(2rem, calc(1.8rem + 2vw), 4.8rem);
}

.toolbar {
  grid-area: toolbar;
  padding: 0rem 2.4rem;
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar__group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
main {
  grid-area: main;
}
section {
  height: 100%;
  display: flex;
  height: 100%;
}

.palette-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.palette-container.gapped {
  gap: 10px;
  padding: 10px;
}
.color-column {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  text-transform: uppercase;

  transition: background-color 0.3s ease, color 0.3s ease;
}
.color-column button.btn i {
  font-size: 1.2rem;
}

.block-information {
  border-left: 1px solid var(--color-border);
  max-width: 320px;
  opacity: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: width 0.5s ease-in-out, max-height 0.5s ease-in-out,
    padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
  &.active {
    display: inline-block;
    width: 100%;
    opacity: 1;
    padding: 2rem;
    max-height: 1000px;
  }

  h3 {
    margin-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: 500;
  }
  p {
    line-height: 1.6;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    font-size: clamp(1.4rem, calc(1.4rem+1vw), 2.4rem);
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "toolbar"
      "main";
    grid-template-rows: auto auto 1fr;
  }

  header.header {
    padding: 0 2.4rem;
  }

  .toolbar {
    border-top: none;
    border-bottom: 1px solid var(--color-border);
  }
  .palette-container {
    flex-direction: row;
    position: relative;
  }
  .color-column {
    flex-direction: column;
  }
  .color-column button.btn i {
    font-size: 1.8rem;
  }
}
