@import './reset.css';

@import "./components/profile.css";
@import "./components/avatar.css";
@import "./components/buttons.css";
@import "./components/modal.css";

@import './layout.css';

@import "./components/color-variations.css";
